{% extends 'base.html.twig' %}

{% block title %}Fight index{% endblock %}

{% block body %}
    <h1>Fight index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Winner</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for fight in fights %}
            <tr>
                <td>{{ fight.id }}</td>
                <td>{{ fight.winner }}</td>
                <td>
                    <a href="{{ path('app_fight_show', {'id': fight.id}) }}">show</a>
                    <a href="{{ path('app_fight_edit', {'id': fight.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_fight_new') }}">Create new</a>
{% endblock %}
