{% extends 'base.html.twig' %}

{% block title %}Batalla{% endblock %}

{% block body %}
    <h1>Nueva Batalla</h1>       

    <p>Tu oponente es ... ยก<b>{{ fight.enemyPokemon.name }}</b>!</p>    
    <p>Su fuerza: {{ enemyStrength }}</p>
    <p>Su nivel: {{ enemyLevel }}</p>

    {{ include('fight/_form.html.twig') }}

    <a href="{{ path('app_fight_index') }}">back to list</a>
{% endblock %}
