{% extends 'base.html.twig' %}
{% block title %}Combate Pokémon{% endblock %}

{% block body %}
<div class="container1">
    <a href="{{ path('app_main') }}">Inicio</a>
    <br><br>
    <h1>Combate Pokémon</h1>
    <p>{{ userPokemon.name }} VS {{ enemyPokemon.name }}</p>
    <br><br>

    {% if fight.winner == app.user.id %}
        <p>{{ app.user.username }} ganó el combate</p>
        <br><br>

        <p>Elige una de las siguientes opciones:</p>

        <ul>
            <li><a href="{{ path('app_pokedex_uplevel', { 'id': userPokemon.id }) }}">Subir Nivel</a></li>
            <li><a href="{{ path('app_pokedex_catch', { 'id': enemyPokemon.id }) }}">Intentar Capturar</a></li>
            <li><a href="{{ path('app_heal') }}">Curar Pokémon Heridos</a></li>
        </ul>

    {% else %}
        <p>Has perdido el combate</p>
        <br><br>
        <a href="{{ path('app_main') }}">Volver al Inicio</a>
    {% endif %}
</div>
{% endblock %}
