{% extends 'base.html.twig' %}
{% block title %}Combate Pokemon{% endblock %}
{% block body %}
<div class="container">
    <a href="{{ path('app_main') }}">Inicio</a>
    <br><br>
    <h1>Combate Pokemon</h1>
    <p>{{ userPokemon.name }} VS {{ enemyPokemon.name }}</p>
    <br><br>

    {% if fight.winner == app.user.id %}
        <p>{{ app.user.username }} Ganó el combate</p>
        <br><br>
        <a href="{{ path('app_pokedex_uplevel', {'id': userPokemon.id}) }}">Subir Nivel</a>
        <br><br>
        <p>Intentar capturar</p>
        <a href="{{ path('app_pokedex_catch', {'id': enemyPokemon.id}) }}">Intentar capturar</a>
        <br><br>
        {# <a href="{{ path('') }}">Revive a un Inutil</a> #}
        <br><br>
    {% else %}
        <p>Has Perdido el combate</p>
        <br><br>
        <a href="{{ path('app_main') }}">Volver al Inicio</a>
    {% endif %}
</div>
{% endblock %}