{% extends 'base.html.twig' %}
{% block title %}Combate Pokémon{% endblock %}

{% block body %}
<div class="container1">
    <a href="{{ path('app_main') }}">Inicio</a>
    <br><br>
    <h1>Combate Pokemon</h1>
    <p>{{ fight.pokedexPlayerOne.pokemon.name }} (Jugador 1) VS {{ fight.pokedexPlayerTwo.pokemon.name }} (Jugador 2)</p>
    <br><br>

    {% if (fight.winner == fight.pokedexPlayerOne.id and fight.pokedexPlayerOne.user == app.user) or (fight.winner == fight.pokedexPlayerTwo.id and fight.pokedexPlayerTwo.user == app.user) %}
        <p>¡Has ganado el combate!</p>
        <br><br>
        <a href="{{ path('app_pokedex_uplevel', {'id': fight.winner == fight.pokedexPlayerOne.id ? fight.pokedexPlayerOne.id : fight.pokedexPlayerTwo.id}) }}">Subir Nivel</a>
        <br><br>
        <a href="{{ path('app_pokedex_catch', {'id': fight.winner == fight.pokedexPlayerOne.id ? fight.pokedexPlayerTwo.pokemon.id : fight.pokedexPlayerOne.pokemon.id}) }}">Intentar capturar pokemon enemigo</a>
        <br><br>
        {# TODO: Revivir Pokémon #}
        {# <p>Revivir un Pokémon</p> #}
        {# <a href="{{ path('app_pokedex_revive', {'id': fight.winner == fight.pokedexPlayerOne.id ? fight.pokedexPlayerOne.pokemon.id : fight.pokedexPlayerTwo.pokemon.id}) }}">Revivir Pokémon</a> #}
        <br><br>

        <p>Elige una de las siguientes opciones:</p>

        <ul>
            <li><a href="{{ path('app_pokedex_uplevel', { 'id': userPokemon.id }) }}">Subir Nivel</a></li>
            <li><a href="{{ path('app_pokedex_catch', { 'id': enemyPokemon.id }) }}">Intentar Capturar</a></li>
            <li><a href="{{ path('app_heal') }}">Curar Pokémon Heridos</a></li>
        </ul>

    {% else %}
        <p>Has perdido el combate...</p>
        <br><br>
        <a href="{{ path('app_main') }}">Volver al Inicio</a>
    {% endif %}
</div>
{% endblock %}