{% extends 'base.html.twig' %}

{% block title %}Pokemon Symfony{% endblock %}

{% block body %}

<div class="example-wrapper">


    {% if is_granted('ROLE_USER') %}
    <h1>Bienvenido a Pokemon en Symfony {{ app.user.username }}!</h1><br>
    <a href="{{ path('app_logout') }}">Cerrar Sesion</a>
    <br>

    <h2>Caza de Pokemons</h2>
    <a href="{{ path('app_capture') }}">Cazar un pokemon</a><br>

<div class="container">

    {% if is_granted('ROLE_USER') %}
        <br>
        <h2>Pokemons</h2>
        <a href="{{ path('app_pokedex_index') }}">Ver Pokemon Capturados</a><br>
    <a href="{{ path('app_pokemon_index') }}">Todos los pokemon</a><br>
        <br>
        <br>

    <h2>Batallas</h2>
    <a href="{{ path('app_fight_new_ai') }}">Batalla contra IA</a><br>
    <a href="{{ path('app_fight_new_online') }}">Batalla Online</a><br>
        
    <h2>Batallas Abiertas</h2>
 {% if openFights is empty %}
        <p>No hay batallas abiertas en este momento.</p>
    {% else %}
        <ul>
            {% for fight in openFights %}
                <li>
                    Batalla #{{ fight.id }} - Esperando un oponente
                    <a href="{{ path('app_fight_join_online', {'id': fight.id}) }}">Unirse</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <p> Solo Admins pueden crear Pokemon </p>
        <a href="{{ path('app_pokemon_new') }}">Crear un nuevo Pokémon</a>
    {% endif %}

    {% else %}
    <a href="{{ path('app_login') }}">Iniciar Sesion</a>
    <br>
    {% endif %}

</div>
    
{% endblock %}
