{% extends 'base.html.twig' %}

{% block title %}Hello MainController!{% endblock %}

{% block body %}

<div class="example-wrapper">


    {% if is_granted('ROLE_USER') %}

    <h1>Bienvenido {{ app.user.username }}! </h1>
    <a href="{{ path('app_fight_new') }}">Buscar combate!</a>
    <a href="{{ path('app_capture') }}">Cazar un pokemon</a>

    {% endif %}


<div class="container">
    <h1> Bienvenido a Pokemon en Symfony</h1>
    <p> Bienvenido  {{ app.user.username }}. </p>

    <a href="{{ path('app_pokemon_index') }}">Ir a la página de Pokémon</a>
    <br><br>


    {% if is_granted('ROLE_USER') %}
        <a href="{{ path('app_pokedex_index') }}">Ver Pokemon Capturados</a>
        <br><br>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <p> Solo Admins pueden crear Pokemon </p>
        <a href="{{ path('app_pokemon_new') }}">Crear un nuevo Pokémon</a>
    {% endif %}

</div>
    

{% endblock %}
